<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Landing page of {{.hostname}}.">
    <meta property="og:title" content="{{.hostname}}">
    <meta property="og:description" content="Landing page of {{.hostname}}.">
    <title>{{.hostname}}</title>
    <style>
        body {
            font-family: sans-serif;
        }

        code {
            font-size: 120%;
        }
    </style>
</head>

<body>
    <main style="max-width: 30em; margin-left: auto; margin-right: auto">
    <div style="margin-bottom: 5px">
        <span style="display: block; font-size: 2em">{{.hostname}}</span>
        <span>This server is running at {{.location}}.</span>
    </div>
    <hr />
    <div style="margin-bottom: 5px">
        <span style="display: block; font-size: 1.3em">About this server</span>
        <ul>
            <li>Platform: {{.platform}} ({{.arch}})</li>
            <li>Internet connection: {{.connection}}</li>
            <li>CPU: {{.cpu}}</li>
        </ul>
        <span style="display: block; font-size: 1.3em">Operating status</span>
        <ul>
            <li>Up since {{.boot_time}}</li>
            <li>Load average: {{.loadavg}}</li>
            <li>RAM: {{.ram_used}}% used</li>
        </ul>
        <span style="display: block; font-size: 1.3em">Reachability from here</span>
        <ul id="reach">
            Loading...
        </ul>
    </div>
    <div style="margin-bottom: 5px">
        <span style="display: block; font-size: 1.3em">About you</span>
        <ul>
            <li>Source: <code>{{.client_ip}}:{{.client_port}}</code> ({{.client_source}})</li>
            <li>Host: <code>{{.client_host}}</code></li>
        </ul>
    </div>
    <small>
        Data displayed on this page may contain personal information. Please be careful when sharing its content.
    </small>
</main>

<script async>
    const url = '/reach'

    fetch(url)
        .then(function(res) {
            return res.text();
        })
        .then(function(text) {
            obj = JSON.parse(text);
            let list_body = [];
            for (let i = 0; i < obj.length; i++) {
                if (obj[i].Reached) {
                    reached = "✅"
                } else {
                    reached = "❌"
                }

                obj[i].Destination = obj[i].Destination.replace("https://", "")
                obj[i].Destination = obj[i].Destination.replace("http://", "")

                list_body.push('<li>' + obj[i].Destination + ": " + reached + '</li>')
            }

            let target = document.getElementById("reach");
            target.innerHTML = list_body.join('');
        })
        
</script>

</body>

</html>
